*{
  background-color: black;
}
html {
    height: 100%;
    overflow-x: hidden;
    background-color: black;
}

#stars {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;
    animation: animStar 40s linear infinite;
    box-shadow: 779px 1331px  #00ff00, 324px 42px  #00ff00, 303px 586px  #00ff00,
    1312px 276px  #00ff00, 451px 625px  #00ff00, 521px 1931px  #00ff00, 1087px 1871px  #00ff00,
    36px 1546px  #00ff00, 132px 934px  #00ff00, 1698px 901px  #00ff00, 1418px 664px  #00ff00,
    1448px 1157px  #00ff00, 1084px 232px  #00ff00, 347px 1776px  #00ff00, 1722px 243px  #00ff00,
    1629px 835px  #00ff00, 479px 969px  #00ff00, 1231px 960px  #00ff00, 586px 384px  #00ff00,
    164px 527px  #00ff00, 8px 646px  #00ff00, 1150px 1126px  #00ff00, 665px 1357px  #00ff00,
    1556px 1982px  #00ff00, 1260px 1961px  #00ff00, 1675px 1741px  #00ff00,
    1843px 1514px  #00ff00, 718px 1628px  #00ff00, 242px 1343px  #00ff00, 1497px 1880px  #00ff00,
    1364px 230px  #00ff00, 1739px 1302px  #00ff00, 636px 959px  #00ff00, 304px 686px  #00ff00,
    614px 751px  #00ff00, 1935px 816px  #00ff00, 1428px 60px  #00ff00, 355px 335px  #00ff00,
    1594px 158px  #00ff00, 90px 60px  #00ff00, 1553px 162px  #00ff00, 1239px 1825px  #00ff00,
    1945px 587px  #00ff00, 749px 1785px  #00ff00, 1987px 1172px  #00ff00, 1301px 1237px  #00ff00,
    1039px 342px  #00ff00, 1585px 1481px  #00ff00, 995px 1048px  #00ff00, 524px 932px  #00ff00,
    214px 413px  #00ff00, 1701px 1300px  #00ff00, 1037px 1613px  #00ff00, 1871px 996px  #00ff00,
    1360px 1635px  #00ff00, 1110px 1313px  #00ff00, 412px 1783px  #00ff00, 1949px 177px  #00ff00,
    903px 1854px  #00ff00, 700px 1936px  #00ff00, 378px 125px  #00ff00, 308px 834px  #00ff00,
    1118px 962px  #00ff00, 1350px 1929px  #00ff00, 781px 1811px  #00ff00, 561px 137px  #00ff00,
    757px 1148px  #00ff00, 1670px 1979px  #00ff00, 343px 739px  #00ff00, 945px 795px  #00ff00,
    576px 1903px  #00ff00, 1078px 1436px  #00ff00, 1583px 450px  #00ff00, 1366px 474px  #00ff00,
    297px 1873px  #00ff00, 192px 162px  #00ff00, 1624px 1633px  #00ff00, 59px 453px  #00ff00,
    82px 1872px  #00ff00, 1933px 498px  #00ff00, 1966px 1974px  #00ff00, 1975px 1688px  #00ff00,
    779px 314px  #00ff00, 1858px 1543px  #00ff00, 73px 1507px  #00ff00, 1693px 975px  #00ff00,
    1683px 108px  #00ff00, 1768px 1654px  #00ff00, 654px 14px  #00ff00, 494px 171px  #00ff00,
    1689px 1895px  #00ff00, 1660px 263px  #00ff00, 1031px 903px  #00ff00, 1203px 1393px  #00ff00,
    1333px 1421px  #00ff00, 1113px 41px  #00ff00, 1206px 1645px  #00ff00, 1325px 1635px  #00ff00,
    142px 388px  #00ff00, 572px 215px  #00ff00, 1535px 296px  #00ff00, 1419px 407px  #00ff00,
    1379px 1003px  #00ff00, 329px 469px  #00ff00, 1791px 1652px  #00ff00, 935px 1802px  #00ff00,
    1330px 1820px  #00ff00, 421px 1933px  #00ff00, 828px 365px  #00ff00, 275px 316px  #00ff00,
    707px 960px  #00ff00, 1605px 1554px  #00ff00, 625px 58px  #00ff00, 717px 1697px  #00ff00,
    1669px 246px  #00ff00, 1925px 322px  #00ff00, 1154px 1803px  #00ff00, 1929px 295px  #00ff00,
    1248px 240px  #00ff00, 1045px 1755px  #00ff00, 166px 942px  #00ff00, 1888px 1773px  #00ff00,
    678px 1963px  #00ff00, 1370px 569px  #00ff00, 1974px 1400px  #00ff00, 1786px 460px  #00ff00,
    51px 307px  #00ff00, 784px 1400px  #00ff00, 730px 1258px  #00ff00, 1712px 393px  #00ff00,
    416px 170px  #00ff00, 1797px 1932px  #00ff00, 572px 219px  #00ff00, 1557px 1856px  #00ff00,
    218px 8px  #00ff00, 348px 1334px  #00ff00, 469px 413px  #00ff00, 385px 1738px  #00ff00,
    1357px 1818px  #00ff00, 240px 942px  #00ff00, 248px 1847px  #00ff00, 1535px 806px  #00ff00,
    236px 1514px  #00ff00, 1429px 1556px  #00ff00, 73px 1633px  #00ff00, 1398px 1121px  #00ff00,
    671px 1301px  #00ff00, 1404px 1663px  #00ff00, 740px 1018px  #00ff00, 1600px 377px  #00ff00,
    785px 514px  #00ff00, 112px 1084px  #00ff00, 1915px 1887px  #00ff00, 1463px 1848px  #00ff00,
    687px 1115px  #00ff00, 1268px 1768px  #00ff00, 1729px 1425px  #00ff00,
    1284px 1022px  #00ff00, 801px 974px  #00ff00, 1975px 1317px  #00ff00, 1354px 834px  #00ff00,
    1446px 1484px  #00ff00, 1283px 1786px  #00ff00, 11px 523px  #00ff00, 1842px 236px  #00ff00,
    1355px 654px  #00ff00, 429px 7px  #00ff00, 1033px 1128px  #00ff00, 157px 297px  #00ff00,
    545px 635px  #00ff00, 52px 1080px  #00ff00, 827px 1520px  #00ff00, 1121px 490px  #00ff00,
    9px 309px  #00ff00, 1744px 1586px  #00ff00, 1014px 417px  #00ff00, 1534px 524px  #00ff00,
    958px 552px  #00ff00, 1403px 1496px  #00ff00, 387px 703px  #00ff00, 1522px 548px  #00ff00,
    1355px 282px  #00ff00, 1532px 601px  #00ff00, 1838px 790px  #00ff00, 290px 259px  #00ff00,
    295px 598px  #00ff00, 1601px 539px  #00ff00, 1561px 1272px  #00ff00, 34px 1922px  #00ff00,
    1024px 543px  #00ff00, 467px 369px  #00ff00, 722px 333px  #00ff00, 1976px 1255px  #00ff00,
    766px 983px  #00ff00, 1582px 1285px  #00ff00, 12px 512px  #00ff00, 617px 1410px  #00ff00,
    682px 577px  #00ff00, 1334px 1438px  #00ff00, 439px 327px  #00ff00, 1617px 1661px  #00ff00,
    673px 129px  #00ff00, 794px 941px  #00ff00, 1386px 1902px  #00ff00, 37px 1353px  #00ff00,
    1467px 1353px  #00ff00, 416px 18px  #00ff00, 187px 344px  #00ff00, 200px 1898px  #00ff00,
    1491px 1619px  #00ff00, 811px 347px  #00ff00, 924px 1827px  #00ff00, 945px 217px  #00ff00,
    1735px 1228px  #00ff00, 379px 1890px  #00ff00, 79px 761px  #00ff00, 825px 1837px  #00ff00,
    1980px 1558px  #00ff00, 1308px 1573px  #00ff00, 1488px 1726px  #00ff00,
    382px 1208px  #00ff00, 522px 595px  #00ff00, 1277px 1898px  #00ff00, 354px 552px  #00ff00,
    161px 1784px  #00ff00, 614px 251px  #00ff00, 526px 1576px  #00ff00, 17px 212px  #00ff00,
    179px 996px  #00ff00, 467px 1208px  #00ff00, 1944px 1838px  #00ff00, 1140px 1093px  #00ff00,
    858px 1007px  #00ff00, 200px 1064px  #00ff00, 423px 1964px  #00ff00, 1945px 439px  #00ff00,
    1377px 689px  #00ff00, 1120px 1437px  #00ff00, 1876px 668px  #00ff00, 907px 1324px  #00ff00,
    343px 1976px  #00ff00, 1816px 1501px  #00ff00, 1849px 177px  #00ff00, 647px 91px  #00ff00,
    1984px 1012px  #00ff00, 1336px 1300px  #00ff00, 128px 648px  #00ff00, 305px 1060px  #00ff00,
    1324px 826px  #00ff00, 1263px 1314px  #00ff00, 1801px 629px  #00ff00, 1614px 1555px  #00ff00,
    1634px 90px  #00ff00, 1603px 452px  #00ff00, 891px 1984px  #00ff00, 1556px 1906px  #00ff00,
    121px 68px  #00ff00, 1676px 1714px  #00ff00, 516px 936px  #00ff00, 1947px 1492px  #00ff00,
    1455px 1519px  #00ff00, 45px 602px  #00ff00, 205px 1039px  #00ff00, 793px 172px  #00ff00,
    1562px 1739px  #00ff00, 1056px 110px  #00ff00, 1512px 379px  #00ff00, 1795px 1621px  #00ff00,
    1848px 607px  #00ff00, 262px 1719px  #00ff00, 477px 991px  #00ff00, 483px 883px  #00ff00,
    1239px 1197px  #00ff00, 1496px 647px  #00ff00, 1649px 25px  #00ff00, 1491px 1946px  #00ff00,
    119px 996px  #00ff00, 179px 1472px  #00ff00, 1341px 808px  #00ff00, 1565px 1700px  #00ff00,
    407px 1544px  #00ff00, 1754px 357px  #00ff00, 1288px 981px  #00ff00, 902px 1997px  #00ff00,
    1755px 1668px  #00ff00, 186px 877px  #00ff00, 1202px 1882px  #00ff00, 461px 1213px  #00ff00,
    1400px 748px  #00ff00, 1969px 1899px  #00ff00, 809px 522px  #00ff00, 514px 1219px  #00ff00,
    374px 275px  #00ff00, 938px 1973px  #00ff00, 357px 552px  #00ff00, 144px 1722px  #00ff00,
    1572px 912px  #00ff00, 402px 1858px  #00ff00, 1544px 1195px  #00ff00, 667px 1257px  #00ff00,
    727px 1496px  #00ff00, 993px 232px  #00ff00, 1772px 313px  #00ff00, 1040px 1590px  #00ff00,
    1204px 1973px  #00ff00, 1268px 79px  #00ff00, 1555px 1048px  #00ff00, 986px 1707px  #00ff00,
    978px 1710px  #00ff00, 713px 360px  #00ff00, 407px 863px  #00ff00, 461px 736px  #00ff00,
    284px 1608px  #00ff00, 103px 430px  #00ff00, 1283px 1319px  #00ff00, 977px 1186px  #00ff00,
    1966px 1516px  #00ff00, 1287px 1129px  #00ff00, 70px 1098px  #00ff00, 1189px 889px  #00ff00,
    1126px 1734px  #00ff00, 309px 1292px  #00ff00, 879px 764px  #00ff00, 65px 473px  #00ff00,
    1003px 1959px  #00ff00, 658px 791px  #00ff00, 402px 1576px  #00ff00, 35px 622px  #00ff00,
    529px 1589px  #00ff00, 164px 666px  #00ff00, 1876px 1290px  #00ff00, 1541px 526px  #00ff00,
    270px 1297px  #00ff00, 440px 865px  #00ff00, 1500px 802px  #00ff00, 182px 1754px  #00ff00,
    1264px 892px  #00ff00, 272px 1249px  #00ff00, 1289px 1535px  #00ff00, 190px 1646px  #00ff00,
    955px 242px  #00ff00, 1456px 1597px  #00ff00, 1727px 1983px  #00ff00, 635px 801px  #00ff00,
    226px 455px  #00ff00, 1396px 1710px  #00ff00, 849px 1863px  #00ff00, 237px 1264px  #00ff00,
    839px 140px  #00ff00, 1122px 735px  #00ff00, 1280px 15px  #00ff00, 1318px 242px  #00ff00,
    1819px 1148px  #00ff00, 333px 1392px  #00ff00, 1949px 553px  #00ff00, 1878px 1332px  #00ff00,
    467px 548px  #00ff00, 1812px 1082px  #00ff00, 1067px 193px  #00ff00, 243px 156px  #00ff00,
    483px 1616px  #00ff00, 1714px 933px  #00ff00, 759px 1800px  #00ff00, 1822px 995px  #00ff00,
    1877px 572px  #00ff00, 581px 1084px  #00ff00, 107px 732px  #00ff00, 642px 1837px  #00ff00,
    166px 1493px  #00ff00, 1555px 198px  #00ff00, 819px 307px  #00ff00, 947px 345px  #00ff00,
    827px 224px  #00ff00, 927px 1394px  #00ff00, 540px 467px  #00ff00, 1093px 405px  #00ff00,
    1140px 927px  #00ff00, 130px 529px  #00ff00, 33px 1980px  #00ff00, 1147px 1663px  #00ff00,
    1616px 1436px  #00ff00, 528px 710px  #00ff00, 798px 1100px  #00ff00, 505px 1480px  #00ff00,
    899px 641px  #00ff00, 1909px 1949px  #00ff00, 1311px 964px  #00ff00, 979px 1301px  #00ff00,
    1393px 969px  #00ff00, 1793px 1886px  #00ff00, 292px 357px  #00ff00, 1196px 1718px  #00ff00,
    1290px 1994px  #00ff00, 537px 1973px  #00ff00, 1181px 1674px  #00ff00,
    1740px 1566px  #00ff00, 1307px 265px  #00ff00, 922px 522px  #00ff00, 1892px 472px  #00ff00,
    384px 1746px  #00ff00, 392px 1098px  #00ff00, 647px 548px  #00ff00, 390px 1498px  #00ff00,
    1246px 138px  #00ff00, 730px 876px  #00ff00, 192px 1472px  #00ff00, 1790px 1789px  #00ff00,
    928px 311px  #00ff00, 1253px 1647px  #00ff00, 747px 1921px  #00ff00, 1561px 1025px  #00ff00,
    1533px 1292px  #00ff00, 1985px 195px  #00ff00, 728px 729px  #00ff00, 1712px 1936px  #00ff00,
    512px 1717px  #00ff00, 1528px 483px  #00ff00, 313px 1642px  #00ff00, 281px 1849px  #00ff00,
    1212px 799px  #00ff00, 435px 1191px  #00ff00, 1422px 611px  #00ff00, 1718px 1964px  #00ff00,
    411px 944px  #00ff00, 210px 636px  #00ff00, 1502px 1295px  #00ff00, 1434px 349px  #00ff00,
    769px 60px  #00ff00, 747px 1053px  #00ff00, 789px 504px  #00ff00, 1436px 1264px  #00ff00,
    1893px 1225px  #00ff00, 1394px 1788px  #00ff00, 1108px 1317px  #00ff00,
    1673px 1395px  #00ff00, 854px 1010px  #00ff00, 1705px 80px  #00ff00, 1858px 148px  #00ff00,
    1729px 344px  #00ff00, 1388px 664px  #00ff00, 895px 406px  #00ff00, 1479px 157px  #00ff00,
    1441px 1157px  #00ff00, 552px 1900px  #00ff00, 516px 364px  #00ff00, 1647px 189px  #00ff00,
    1427px 1071px  #00ff00, 785px 729px  #00ff00, 1080px 1710px  #00ff00, 504px 204px  #00ff00,
    1177px 1622px  #00ff00, 657px 34px  #00ff00, 1296px 1099px  #00ff00, 248px 180px  #00ff00,
    1212px 1568px  #00ff00, 667px 1562px  #00ff00, 695px 841px  #00ff00, 1608px 1247px  #00ff00,
    751px 882px  #00ff00, 87px 167px  #00ff00, 607px 1368px  #00ff00, 1363px 1203px  #00ff00,
    1836px 317px  #00ff00, 1668px 1703px  #00ff00, 830px 1154px  #00ff00, 1721px 1398px  #00ff00,
    1601px 1280px  #00ff00, 976px 874px  #00ff00, 1743px 254px  #00ff00, 1020px 1815px  #00ff00,
    1670px 1766px  #00ff00, 1890px 735px  #00ff00, 1379px 136px  #00ff00, 1864px 695px  #00ff00,
    206px 965px  #00ff00, 1404px 1932px  #00ff00, 1923px 1360px  #00ff00, 247px 682px  #00ff00,
    519px 1708px  #00ff00, 645px 750px  #00ff00, 1164px 1204px  #00ff00, 834px 323px  #00ff00,
    172px 1350px  #00ff00, 213px 972px  #00ff00, 1837px 190px  #00ff00, 285px 1806px  #00ff00,
    1047px 1299px  #00ff00, 1548px 825px  #00ff00, 1730px 324px  #00ff00, 1346px 1909px  #00ff00,
    772px 270px  #00ff00, 345px 1190px  #00ff00, 478px 1433px  #00ff00, 1479px 25px  #00ff00,
    1994px 1830px  #00ff00, 1744px 732px  #00ff00, 20px 1635px  #00ff00, 690px 1795px  #00ff00,
    1594px 569px  #00ff00, 579px 245px  #00ff00, 1398px 733px  #00ff00, 408px 1352px  #00ff00,
    1774px 120px  #00ff00, 1152px 1370px  #00ff00, 1698px 1810px  #00ff00, 710px 1450px  #00ff00,
    665px 286px  #00ff00, 493px 1720px  #00ff00, 786px 5px  #00ff00, 637px 1140px  #00ff00,
    764px 324px  #00ff00, 927px 310px  #00ff00, 938px 1424px  #00ff00, 1884px 744px  #00ff00,
    913px 462px  #00ff00, 1831px 1936px  #00ff00, 1527px 249px  #00ff00, 36px 1381px  #00ff00,
    1597px 581px  #00ff00, 1530px 355px  #00ff00, 949px 459px  #00ff00, 799px 828px  #00ff00,
    242px 1471px  #00ff00, 654px 797px  #00ff00, 796px 594px  #00ff00, 1365px 678px  #00ff00,
    752px 23px  #00ff00, 1630px 541px  #00ff00, 982px 72px  #00ff00, 1733px 1831px  #00ff00,
    21px 412px  #00ff00, 775px 998px  #00ff00, 335px 1945px  #00ff00, 264px 583px  #00ff00,
    158px 1311px  #00ff00, 528px 164px  #00ff00, 1978px 574px  #00ff00, 717px 1203px  #00ff00,
    734px 1591px  #00ff00, 1555px 820px  #00ff00, 16px 1943px  #00ff00, 1625px 1177px  #00ff00,
    1236px 690px  #00ff00, 1585px 1590px  #00ff00, 1737px 1728px  #00ff00, 721px 698px  #00ff00,
    1804px 1186px  #00ff00, 166px 980px  #00ff00, 1850px 230px  #00ff00, 330px 1712px  #00ff00,
    95px 797px  #00ff00, 1948px 1078px  #00ff00, 469px 939px  #00ff00, 1269px 1899px  #00ff00,
    955px 1220px  #00ff00, 1137px 1075px  #00ff00, 312px 1293px  #00ff00, 986px 1762px  #00ff00,
    1103px 1238px  #00ff00, 428px 1993px  #00ff00, 355px 570px  #00ff00, 977px 1836px  #00ff00,
    1395px 1092px  #00ff00, 276px 913px  #00ff00, 1743px 656px  #00ff00, 773px 502px  #00ff00,
    1686px 1322px  #00ff00, 1516px 1945px  #00ff00, 1334px 501px  #00ff00, 266px 156px  #00ff00,
    455px 655px  #00ff00, 798px 72px  #00ff00, 1059px 1259px  #00ff00, 1402px 1687px  #00ff00,
    236px 1329px  #00ff00, 1455px 786px  #00ff00, 146px 1228px  #00ff00, 1851px 823px  #00ff00,
    1062px 100px  #00ff00, 1220px 953px  #00ff00, 20px 1826px  #00ff00, 36px 1063px  #00ff00,
    1525px 338px  #00ff00, 790px 1521px  #00ff00, 741px 1099px  #00ff00, 288px 1489px  #00ff00,
    700px 1060px  #00ff00, 390px 1071px  #00ff00, 411px 1036px  #00ff00, 1853px 1072px  #00ff00,
    1446px 1085px  #00ff00, 1164px 874px  #00ff00, 924px 925px  #00ff00, 291px 271px  #00ff00,
    1257px 1964px  #00ff00, 1580px 1352px  #00ff00, 1507px 1216px  #00ff00, 211px 956px  #00ff00,
    985px 1195px  #00ff00, 975px 1640px  #00ff00, 518px 101px  #00ff00, 663px 1395px  #00ff00,
    914px 532px  #00ff00, 145px 1320px  #00ff00, 69px 1397px  #00ff00, 982px 523px  #00ff00,
    257px 725px  #00ff00, 1599px 831px  #00ff00, 1636px 1513px  #00ff00, 1250px 1158px  #00ff00,
    1132px 604px  #00ff00, 183px 102px  #00ff00, 1057px 318px  #00ff00, 1247px 1835px  #00ff00,
    1983px 1110px  #00ff00, 1077px 1455px  #00ff00, 921px 1770px  #00ff00, 806px 1350px  #00ff00,
    1938px 1992px  #00ff00, 855px 1260px  #00ff00, 902px 1345px  #00ff00, 658px 1908px  #00ff00,
    1845px 679px  #00ff00, 712px 1482px  #00ff00, 595px 950px  #00ff00, 1784px 1992px  #00ff00,
    1847px 1785px  #00ff00, 691px 1004px  #00ff00, 175px 1179px  #00ff00, 1666px 1911px  #00ff00,
    41px 61px  #00ff00, 971px 1080px  #00ff00, 1830px 1450px  #00ff00, 1351px 1518px  #00ff00,
    1257px 99px  #00ff00, 1395px 1498px  #00ff00, 1117px 252px  #00ff00, 1779px 597px  #00ff00,
    1346px 729px  #00ff00, 1108px 1144px  #00ff00, 402px 691px  #00ff00, 72px 496px  #00ff00,
    1673px 1604px  #00ff00, 1497px 974px  #00ff00, 1865px 1664px  #00ff00, 88px 806px  #00ff00,
    918px 77px  #00ff00, 244px 1118px  #00ff00, 256px 1820px  #00ff00, 1851px 1840px  #00ff00,
    605px 1851px  #00ff00, 634px 383px  #00ff00, 865px 37px  #00ff00, 943px 1024px  #00ff00,
    1951px 177px  #00ff00, 1097px 523px  #00ff00, 985px 1700px  #00ff00, 1243px 122px  #00ff00,
    768px 1070px  #00ff00, 468px 194px  #00ff00, 320px 1867px  #00ff00, 1850px 185px  #00ff00,
    380px 1616px  #00ff00, 468px 1294px  #00ff00, 1122px 1743px  #00ff00, 884px 299px  #00ff00,
    1300px 1917px  #00ff00, 1860px 396px  #00ff00, 1270px 990px  #00ff00, 529px 733px  #00ff00,
    1975px 1347px  #00ff00, 1885px 685px  #00ff00, 226px 506px  #00ff00, 651px 878px  #00ff00,
    1323px 680px  #00ff00, 1284px 680px  #00ff00, 238px 1967px  #00ff00, 911px 174px  #00ff00,
    1111px 521px  #00ff00, 1150px 85px  #00ff00, 794px 502px  #00ff00, 484px 1856px  #00ff00,
    1809px 368px  #00ff00, 112px 953px  #00ff00, 590px 1009px  #00ff00, 1655px 311px  #00ff00,
    100px 1026px  #00ff00, 1803px 352px  #00ff00, 865px 306px  #00ff00, 1077px 1019px  #00ff00,
    1335px 872px  #00ff00, 1647px 1298px  #00ff00, 1233px 1387px  #00ff00, 698px 1036px  #00ff00,
    659px 1860px  #00ff00, 388px 1412px  #00ff00, 1212px 458px  #00ff00, 755px 1468px  #00ff00,
    696px 1654px  #00ff00, 1144px 60px  #00ff00;
}

#stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 779px 1331px  #00ff00, 324px 42px  #00ff00, 303px 586px  #00ff00,
    1312px 276px  #00ff00, 451px 625px  #00ff00, 521px 1931px  #00ff00, 1087px 1871px  #00ff00,
    36px 1546px  #00ff00, 132px 934px  #00ff00, 1698px 901px  #00ff00, 1418px 664px  #00ff00,
    1448px 1157px  #00ff00, 1084px 232px  #00ff00, 347px 1776px  #00ff00, 1722px 243px  #00ff00,
    1629px 835px  #00ff00, 479px 969px  #00ff00, 1231px 960px  #00ff00, 586px 384px  #00ff00,
    164px 527px  #00ff00, 8px 646px  #00ff00, 1150px 1126px  #00ff00, 665px 1357px  #00ff00,
    1556px 1982px  #00ff00, 1260px 1961px  #00ff00, 1675px 1741px  #00ff00,
    1843px 1514px  #00ff00, 718px 1628px  #00ff00, 242px 1343px  #00ff00, 1497px 1880px  #00ff00,
    1364px 230px  #00ff00, 1739px 1302px  #00ff00, 636px 959px  #00ff00, 304px 686px  #00ff00,
    614px 751px  #00ff00, 1935px 816px  #00ff00, 1428px 60px  #00ff00, 355px 335px  #00ff00,
    1594px 158px  #00ff00, 90px 60px  #00ff00, 1553px 162px  #00ff00, 1239px 1825px  #00ff00,
    1945px 587px  #00ff00, 749px 1785px  #00ff00, 1987px 1172px  #00ff00, 1301px 1237px  #00ff00,
    1039px 342px  #00ff00, 1585px 1481px  #00ff00, 995px 1048px  #00ff00, 524px 932px  #00ff00,
    214px 413px  #00ff00, 1701px 1300px  #00ff00, 1037px 1613px  #00ff00, 1871px 996px  #00ff00,
    1360px 1635px  #00ff00, 1110px 1313px  #00ff00, 412px 1783px  #00ff00, 1949px 177px  #00ff00,
    903px 1854px  #00ff00, 700px 1936px  #00ff00, 378px 125px  #00ff00, 308px 834px  #00ff00,
    1118px 962px  #00ff00, 1350px 1929px  #00ff00, 781px 1811px  #00ff00, 561px 137px  #00ff00,
    757px 1148px  #00ff00, 1670px 1979px  #00ff00, 343px 739px  #00ff00, 945px 795px  #00ff00,
    576px 1903px  #00ff00, 1078px 1436px  #00ff00, 1583px 450px  #00ff00, 1366px 474px  #00ff00,
    297px 1873px  #00ff00, 192px 162px  #00ff00, 1624px 1633px  #00ff00, 59px 453px  #00ff00,
    82px 1872px  #00ff00, 1933px 498px  #00ff00, 1966px 1974px  #00ff00, 1975px 1688px  #00ff00,
    779px 314px  #00ff00, 1858px 1543px  #00ff00, 73px 1507px  #00ff00, 1693px 975px  #00ff00,
    1683px 108px  #00ff00, 1768px 1654px  #00ff00, 654px 14px  #00ff00, 494px 171px  #00ff00,
    1689px 1895px  #00ff00, 1660px 263px  #00ff00, 1031px 903px  #00ff00, 1203px 1393px  #00ff00,
    1333px 1421px  #00ff00, 1113px 41px  #00ff00, 1206px 1645px  #00ff00, 1325px 1635px  #00ff00,
    142px 388px  #00ff00, 572px 215px  #00ff00, 1535px 296px  #00ff00, 1419px 407px  #00ff00,
    1379px 1003px  #00ff00, 329px 469px  #00ff00, 1791px 1652px  #00ff00, 935px 1802px  #00ff00,
    1330px 1820px  #00ff00, 421px 1933px  #00ff00, 828px 365px  #00ff00, 275px 316px  #00ff00,
    707px 960px  #00ff00, 1605px 1554px  #00ff00, 625px 58px  #00ff00, 717px 1697px  #00ff00,
    1669px 246px  #00ff00, 1925px 322px  #00ff00, 1154px 1803px  #00ff00, 1929px 295px  #00ff00,
    1248px 240px  #00ff00, 1045px 1755px  #00ff00, 166px 942px  #00ff00, 1888px 1773px  #00ff00,
    678px 1963px  #00ff00, 1370px 569px  #00ff00, 1974px 1400px  #00ff00, 1786px 460px  #00ff00,
    51px 307px  #00ff00, 784px 1400px  #00ff00, 730px 1258px  #00ff00, 1712px 393px  #00ff00,
    416px 170px  #00ff00, 1797px 1932px  #00ff00, 572px 219px  #00ff00, 1557px 1856px  #00ff00,
    218px 8px  #00ff00, 348px 1334px  #00ff00, 469px 413px  #00ff00, 385px 1738px  #00ff00,
    1357px 1818px  #00ff00, 240px 942px  #00ff00, 248px 1847px  #00ff00, 1535px 806px  #00ff00,
    236px 1514px  #00ff00, 1429px 1556px  #00ff00, 73px 1633px  #00ff00, 1398px 1121px  #00ff00,
    671px 1301px  #00ff00, 1404px 1663px  #00ff00, 740px 1018px  #00ff00, 1600px 377px  #00ff00,
    785px 514px  #00ff00, 112px 1084px  #00ff00, 1915px 1887px  #00ff00, 1463px 1848px  #00ff00,
    687px 1115px  #00ff00, 1268px 1768px  #00ff00, 1729px 1425px  #00ff00,
    1284px 1022px  #00ff00, 801px 974px  #00ff00, 1975px 1317px  #00ff00, 1354px 834px  #00ff00,
    1446px 1484px  #00ff00, 1283px 1786px  #00ff00, 11px 523px  #00ff00, 1842px 236px  #00ff00,
    1355px 654px  #00ff00, 429px 7px  #00ff00, 1033px 1128px  #00ff00, 157px 297px  #00ff00,
    545px 635px  #00ff00, 52px 1080px  #00ff00, 827px 1520px  #00ff00, 1121px 490px  #00ff00,
    9px 309px  #00ff00, 1744px 1586px  #00ff00, 1014px 417px  #00ff00, 1534px 524px  #00ff00,
    958px 552px  #00ff00, 1403px 1496px  #00ff00, 387px 703px  #00ff00, 1522px 548px  #00ff00,
    1355px 282px  #00ff00, 1532px 601px  #00ff00, 1838px 790px  #00ff00, 290px 259px  #00ff00,
    295px 598px  #00ff00, 1601px 539px  #00ff00, 1561px 1272px  #00ff00, 34px 1922px  #00ff00,
    1024px 543px  #00ff00, 467px 369px  #00ff00, 722px 333px  #00ff00, 1976px 1255px  #00ff00,
    766px 983px  #00ff00, 1582px 1285px  #00ff00, 12px 512px  #00ff00, 617px 1410px  #00ff00,
    682px 577px  #00ff00, 1334px 1438px  #00ff00, 439px 327px  #00ff00, 1617px 1661px  #00ff00,
    673px 129px  #00ff00, 794px 941px  #00ff00, 1386px 1902px  #00ff00, 37px 1353px  #00ff00,
    1467px 1353px  #00ff00, 416px 18px  #00ff00, 187px 344px  #00ff00, 200px 1898px  #00ff00,
    1491px 1619px  #00ff00, 811px 347px  #00ff00, 924px 1827px  #00ff00, 945px 217px  #00ff00,
    1735px 1228px  #00ff00, 379px 1890px  #00ff00, 79px 761px  #00ff00, 825px 1837px  #00ff00,
    1980px 1558px  #00ff00, 1308px 1573px  #00ff00, 1488px 1726px  #00ff00,
    382px 1208px  #00ff00, 522px 595px  #00ff00, 1277px 1898px  #00ff00, 354px 552px  #00ff00,
    161px 1784px  #00ff00, 614px 251px  #00ff00, 526px 1576px  #00ff00, 17px 212px  #00ff00,
    179px 996px  #00ff00, 467px 1208px  #00ff00, 1944px 1838px  #00ff00, 1140px 1093px  #00ff00,
    858px 1007px  #00ff00, 200px 1064px  #00ff00, 423px 1964px  #00ff00, 1945px 439px  #00ff00,
    1377px 689px  #00ff00, 1120px 1437px  #00ff00, 1876px 668px  #00ff00, 907px 1324px  #00ff00,
    343px 1976px  #00ff00, 1816px 1501px  #00ff00, 1849px 177px  #00ff00, 647px 91px  #00ff00,
    1984px 1012px  #00ff00, 1336px 1300px  #00ff00, 128px 648px  #00ff00, 305px 1060px  #00ff00,
    1324px 826px  #00ff00, 1263px 1314px  #00ff00, 1801px 629px  #00ff00, 1614px 1555px  #00ff00,
    1634px 90px  #00ff00, 1603px 452px  #00ff00, 891px 1984px  #00ff00, 1556px 1906px  #00ff00,
    121px 68px  #00ff00, 1676px 1714px  #00ff00, 516px 936px  #00ff00, 1947px 1492px  #00ff00,
    1455px 1519px  #00ff00, 45px 602px  #00ff00, 205px 1039px  #00ff00, 793px 172px  #00ff00,
    1562px 1739px  #00ff00, 1056px 110px  #00ff00, 1512px 379px  #00ff00, 1795px 1621px  #00ff00,
    1848px 607px  #00ff00, 262px 1719px  #00ff00, 477px 991px  #00ff00, 483px 883px  #00ff00,
    1239px 1197px  #00ff00, 1496px 647px  #00ff00, 1649px 25px  #00ff00, 1491px 1946px  #00ff00,
    119px 996px  #00ff00, 179px 1472px  #00ff00, 1341px 808px  #00ff00, 1565px 1700px  #00ff00,
    407px 1544px  #00ff00, 1754px 357px  #00ff00, 1288px 981px  #00ff00, 902px 1997px  #00ff00,
    1755px 1668px  #00ff00, 186px 877px  #00ff00, 1202px 1882px  #00ff00, 461px 1213px  #00ff00,
    1400px 748px  #00ff00, 1969px 1899px  #00ff00, 809px 522px  #00ff00, 514px 1219px  #00ff00,
    374px 275px  #00ff00, 938px 1973px  #00ff00, 357px 552px  #00ff00, 144px 1722px  #00ff00,
    1572px 912px  #00ff00, 402px 1858px  #00ff00, 1544px 1195px  #00ff00, 667px 1257px  #00ff00,
    727px 1496px  #00ff00, 993px 232px  #00ff00, 1772px 313px  #00ff00, 1040px 1590px  #00ff00,
    1204px 1973px  #00ff00, 1268px 79px  #00ff00, 1555px 1048px  #00ff00, 986px 1707px  #00ff00,
    978px 1710px  #00ff00, 713px 360px  #00ff00, 407px 863px  #00ff00, 461px 736px  #00ff00,
    284px 1608px  #00ff00, 103px 430px  #00ff00, 1283px 1319px  #00ff00, 977px 1186px  #00ff00,
    1966px 1516px  #00ff00, 1287px 1129px  #00ff00, 70px 1098px  #00ff00, 1189px 889px  #00ff00,
    1126px 1734px  #00ff00, 309px 1292px  #00ff00, 879px 764px  #00ff00, 65px 473px  #00ff00,
    1003px 1959px  #00ff00, 658px 791px  #00ff00, 402px 1576px  #00ff00, 35px 622px  #00ff00,
    529px 1589px  #00ff00, 164px 666px  #00ff00, 1876px 1290px  #00ff00, 1541px 526px  #00ff00,
    270px 1297px  #00ff00, 440px 865px  #00ff00, 1500px 802px  #00ff00, 182px 1754px  #00ff00,
    1264px 892px  #00ff00, 272px 1249px  #00ff00, 1289px 1535px  #00ff00, 190px 1646px  #00ff00,
    955px 242px  #00ff00, 1456px 1597px  #00ff00, 1727px 1983px  #00ff00, 635px 801px  #00ff00,
    226px 455px  #00ff00, 1396px 1710px  #00ff00, 849px 1863px  #00ff00, 237px 1264px  #00ff00,
    839px 140px  #00ff00, 1122px 735px  #00ff00, 1280px 15px  #00ff00, 1318px 242px  #00ff00,
    1819px 1148px  #00ff00, 333px 1392px  #00ff00, 1949px 553px  #00ff00, 1878px 1332px  #00ff00,
    467px 548px  #00ff00, 1812px 1082px  #00ff00, 1067px 193px  #00ff00, 243px 156px  #00ff00,
    483px 1616px  #00ff00, 1714px 933px  #00ff00, 759px 1800px  #00ff00, 1822px 995px  #00ff00,
    1877px 572px  #00ff00, 581px 1084px  #00ff00, 107px 732px  #00ff00, 642px 1837px  #00ff00,
    166px 1493px  #00ff00, 1555px 198px  #00ff00, 819px 307px  #00ff00, 947px 345px  #00ff00,
    827px 224px  #00ff00, 927px 1394px  #00ff00, 540px 467px  #00ff00, 1093px 405px  #00ff00,
    1140px 927px  #00ff00, 130px 529px  #00ff00, 33px 1980px  #00ff00, 1147px 1663px  #00ff00,
    1616px 1436px  #00ff00, 528px 710px  #00ff00, 798px 1100px  #00ff00, 505px 1480px  #00ff00,
    899px 641px  #00ff00, 1909px 1949px  #00ff00, 1311px 964px  #00ff00, 979px 1301px  #00ff00,
    1393px 969px  #00ff00, 1793px 1886px  #00ff00, 292px 357px  #00ff00, 1196px 1718px  #00ff00,
    1290px 1994px  #00ff00, 537px 1973px  #00ff00, 1181px 1674px  #00ff00,
    1740px 1566px  #00ff00, 1307px 265px  #00ff00, 922px 522px  #00ff00, 1892px 472px  #00ff00,
    384px 1746px  #00ff00, 392px 1098px  #00ff00, 647px 548px  #00ff00, 390px 1498px  #00ff00,
    1246px 138px  #00ff00, 730px 876px  #00ff00, 192px 1472px  #00ff00, 1790px 1789px  #00ff00,
    928px 311px  #00ff00, 1253px 1647px  #00ff00, 747px 1921px  #00ff00, 1561px 1025px  #00ff00,
    1533px 1292px  #00ff00, 1985px 195px  #00ff00, 728px 729px  #00ff00, 1712px 1936px  #00ff00,
    512px 1717px  #00ff00, 1528px 483px  #00ff00, 313px 1642px  #00ff00, 281px 1849px  #00ff00,
    1212px 799px  #00ff00, 435px 1191px  #00ff00, 1422px 611px  #00ff00, 1718px 1964px  #00ff00,
    411px 944px  #00ff00, 210px 636px  #00ff00, 1502px 1295px  #00ff00, 1434px 349px  #00ff00,
    769px 60px  #00ff00, 747px 1053px  #00ff00, 789px 504px  #00ff00, 1436px 1264px  #00ff00,
    1893px 1225px  #00ff00, 1394px 1788px  #00ff00, 1108px 1317px  #00ff00,
    1673px 1395px  #00ff00, 854px 1010px  #00ff00, 1705px 80px  #00ff00, 1858px 148px  #00ff00,
    1729px 344px  #00ff00, 1388px 664px  #00ff00, 895px 406px  #00ff00, 1479px 157px  #00ff00,
    1441px 1157px  #00ff00, 552px 1900px  #00ff00, 516px 364px  #00ff00, 1647px 189px  #00ff00,
    1427px 1071px  #00ff00, 785px 729px  #00ff00, 1080px 1710px  #00ff00, 504px 204px  #00ff00,
    1177px 1622px  #00ff00, 657px 34px  #00ff00, 1296px 1099px  #00ff00, 248px 180px  #00ff00,
    1212px 1568px  #00ff00, 667px 1562px  #00ff00, 695px 841px  #00ff00, 1608px 1247px  #00ff00,
    751px 882px  #00ff00, 87px 167px  #00ff00, 607px 1368px  #00ff00, 1363px 1203px  #00ff00,
    1836px 317px  #00ff00, 1668px 1703px  #00ff00, 830px 1154px  #00ff00, 1721px 1398px  #00ff00,
    1601px 1280px  #00ff00, 976px 874px  #00ff00, 1743px 254px  #00ff00, 1020px 1815px  #00ff00,
    1670px 1766px  #00ff00, 1890px 735px  #00ff00, 1379px 136px  #00ff00, 1864px 695px  #00ff00,
    206px 965px  #00ff00, 1404px 1932px  #00ff00, 1923px 1360px  #00ff00, 247px 682px  #00ff00,
    519px 1708px  #00ff00, 645px 750px  #00ff00, 1164px 1204px  #00ff00, 834px 323px  #00ff00,
    172px 1350px  #00ff00, 213px 972px  #00ff00, 1837px 190px  #00ff00, 285px 1806px  #00ff00,
    1047px 1299px  #00ff00, 1548px 825px  #00ff00, 1730px 324px  #00ff00, 1346px 1909px  #00ff00,
    772px 270px  #00ff00, 345px 1190px  #00ff00, 478px 1433px  #00ff00, 1479px 25px  #00ff00,
    1994px 1830px  #00ff00, 1744px 732px  #00ff00, 20px 1635px  #00ff00, 690px 1795px  #00ff00,
    1594px 569px  #00ff00, 579px 245px  #00ff00, 1398px 733px  #00ff00, 408px 1352px  #00ff00,
    1774px 120px  #00ff00, 1152px 1370px  #00ff00, 1698px 1810px  #00ff00, 710px 1450px  #00ff00,
    665px 286px  #00ff00, 493px 1720px  #00ff00, 786px 5px  #00ff00, 637px 1140px  #00ff00,
    764px 324px  #00ff00, 927px 310px  #00ff00, 938px 1424px  #00ff00, 1884px 744px  #00ff00,
    913px 462px  #00ff00, 1831px 1936px  #00ff00, 1527px 249px  #00ff00, 36px 1381px  #00ff00,
    1597px 581px  #00ff00, 1530px 355px  #00ff00, 949px 459px  #00ff00, 799px 828px  #00ff00,
    242px 1471px  #00ff00, 654px 797px  #00ff00, 796px 594px  #00ff00, 1365px 678px  #00ff00,
    752px 23px  #00ff00, 1630px 541px  #00ff00, 982px 72px  #00ff00, 1733px 1831px  #00ff00,
    21px 412px  #00ff00, 775px 998px  #00ff00, 335px 1945px  #00ff00, 264px 583px  #00ff00,
    158px 1311px  #00ff00, 528px 164px  #00ff00, 1978px 574px  #00ff00, 717px 1203px  #00ff00,
    734px 1591px  #00ff00, 1555px 820px  #00ff00, 16px 1943px  #00ff00, 1625px 1177px  #00ff00,
    1236px 690px  #00ff00, 1585px 1590px  #00ff00, 1737px 1728px  #00ff00, 721px 698px  #00ff00,
    1804px 1186px  #00ff00, 166px 980px  #00ff00, 1850px 230px  #00ff00, 330px 1712px  #00ff00,
    95px 797px  #00ff00, 1948px 1078px  #00ff00, 469px 939px  #00ff00, 1269px 1899px  #00ff00,
    955px 1220px  #00ff00, 1137px 1075px  #00ff00, 312px 1293px  #00ff00, 986px 1762px  #00ff00,
    1103px 1238px  #00ff00, 428px 1993px  #00ff00, 355px 570px  #00ff00, 977px 1836px  #00ff00,
    1395px 1092px  #00ff00, 276px 913px  #00ff00, 1743px 656px  #00ff00, 773px 502px  #00ff00,
    1686px 1322px  #00ff00, 1516px 1945px  #00ff00, 1334px 501px  #00ff00, 266px 156px  #00ff00,
    455px 655px  #00ff00, 798px 72px  #00ff00, 1059px 1259px  #00ff00, 1402px 1687px  #00ff00,
    236px 1329px  #00ff00, 1455px 786px  #00ff00, 146px 1228px  #00ff00, 1851px 823px  #00ff00,
    1062px 100px  #00ff00, 1220px 953px  #00ff00, 20px 1826px  #00ff00, 36px 1063px  #00ff00,
    1525px 338px  #00ff00, 790px 1521px  #00ff00, 741px 1099px  #00ff00, 288px 1489px  #00ff00,
    700px 1060px  #00ff00, 390px 1071px  #00ff00, 411px 1036px  #00ff00, 1853px 1072px  #00ff00,
    1446px 1085px  #00ff00, 1164px 874px  #00ff00, 924px 925px  #00ff00, 291px 271px  #00ff00,
    1257px 1964px  #00ff00, 1580px 1352px  #00ff00, 1507px 1216px  #00ff00, 211px 956px  #00ff00,
    985px 1195px  #00ff00, 975px 1640px  #00ff00, 518px 101px  #00ff00, 663px 1395px  #00ff00,
    914px 532px  #00ff00, 145px 1320px  #00ff00, 69px 1397px  #00ff00, 982px 523px  #00ff00,
    257px 725px  #00ff00, 1599px 831px  #00ff00, 1636px 1513px  #00ff00, 1250px 1158px  #00ff00,
    1132px 604px  #00ff00, 183px 102px  #00ff00, 1057px 318px  #00ff00, 1247px 1835px  #00ff00,
    1983px 1110px  #00ff00, 1077px 1455px  #00ff00, 921px 1770px  #00ff00, 806px 1350px  #00ff00,
    1938px 1992px  #00ff00, 855px 1260px  #00ff00, 902px 1345px  #00ff00, 658px 1908px  #00ff00,
    1845px 679px  #00ff00, 712px 1482px  #00ff00, 595px 950px  #00ff00, 1784px 1992px  #00ff00,
    1847px 1785px  #00ff00, 691px 1004px  #00ff00, 175px 1179px  #00ff00, 1666px 1911px  #00ff00,
    41px 61px  #00ff00, 971px 1080px  #00ff00, 1830px 1450px  #00ff00, 1351px 1518px  #00ff00,
    1257px 99px  #00ff00, 1395px 1498px  #00ff00, 1117px 252px  #00ff00, 1779px 597px  #00ff00,
    1346px 729px  #00ff00, 1108px 1144px  #00ff00, 402px 691px  #00ff00, 72px 496px  #00ff00,
    1673px 1604px  #00ff00, 1497px 974px  #00ff00, 1865px 1664px  #00ff00, 88px 806px  #00ff00,
    918px 77px  #00ff00, 244px 1118px  #00ff00, 256px 1820px  #00ff00, 1851px 1840px  #00ff00,
    605px 1851px  #00ff00, 634px 383px  #00ff00, 865px 37px  #00ff00, 943px 1024px  #00ff00,
    1951px 177px  #00ff00, 1097px 523px  #00ff00, 985px 1700px  #00ff00, 1243px 122px  #00ff00,
    768px 1070px  #00ff00, 468px 194px  #00ff00, 320px 1867px  #00ff00, 1850px 185px  #00ff00,
    380px 1616px  #00ff00, 468px 1294px  #00ff00, 1122px 1743px  #00ff00, 884px 299px  #00ff00,
    1300px 1917px  #00ff00, 1860px 396px  #00ff00, 1270px 990px  #00ff00, 529px 733px  #00ff00,
    1975px 1347px  #00ff00, 1885px 685px  #00ff00, 226px 506px  #00ff00, 651px 878px  #00ff00,
    1323px 680px  #00ff00, 1284px 680px  #00ff00, 238px 1967px  #00ff00, 911px 174px  #00ff00,
    1111px 521px  #00ff00, 1150px 85px  #00ff00, 794px 502px  #00ff00, 484px 1856px  #00ff00,
    1809px 368px  #00ff00, 112px 953px  #00ff00, 590px 1009px  #00ff00, 1655px 311px  #00ff00,
    100px 1026px  #00ff00, 1803px 352px  #00ff00, 865px 306px  #00ff00, 1077px 1019px  #00ff00,
    1335px 872px  #00ff00, 1647px 1298px  #00ff00, 1233px 1387px  #00ff00, 698px 1036px  #00ff00,
    659px 1860px  #00ff00, 388px 1412px  #00ff00, 1212px 458px  #00ff00, 755px 1468px  #00ff00,
    696px 1654px  #00ff00, 1144px 60px  #00ff00;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    border-radius: 50%;
    box-shadow: 1448px 320px  #00ff00, 1775px 1663px  #00ff00, 332px 1364px  #00ff00,
    878px 340px  #00ff00, 569px 1832px  #00ff00, 1422px 1684px  #00ff00, 1946px 1907px  #00ff00,
    121px 979px  #00ff00, 1044px 1069px  #00ff00, 463px 381px  #00ff00, 423px 112px  #00ff00,
    523px 1179px  #00ff00, 779px 654px  #00ff00, 1398px 694px  #00ff00, 1085px 1464px  #00ff00,
    1599px 1869px  #00ff00, 801px 1882px  #00ff00, 779px 1231px  #00ff00, 552px 932px  #00ff00,
    1057px 1196px  #00ff00, 282px 1280px  #00ff00, 496px 1986px  #00ff00, 1833px 1120px  #00ff00,
    1802px 1293px  #00ff00, 6px 1696px  #00ff00, 412px 1902px  #00ff00, 605px 438px  #00ff00,
    24px 1212px  #00ff00, 234px 1320px  #00ff00, 544px 344px  #00ff00, 1107px 170px  #00ff00,
    1603px 196px  #00ff00, 905px 648px  #00ff00, 68px 1458px  #00ff00, 649px 1969px  #00ff00,
    744px 675px  #00ff00, 1127px 478px  #00ff00, 714px 1814px  #00ff00, 1486px 526px  #00ff00,
    270px 1636px  #00ff00, 1931px 149px  #00ff00, 1807px 378px  #00ff00, 8px 390px  #00ff00,
    1415px 699px  #00ff00, 1473px 1211px  #00ff00, 1590px 141px  #00ff00, 270px 1705px  #00ff00,
    69px 1423px  #00ff00, 1108px 1053px  #00ff00, 1946px 128px  #00ff00, 371px 371px  #00ff00,
    1490px 220px  #00ff00, 357px 1885px  #00ff00, 363px 363px  #00ff00, 1896px 1256px  #00ff00,
    1979px 1050px  #00ff00, 947px 1342px  #00ff00, 1754px 242px  #00ff00, 514px 974px  #00ff00,
    65px 1477px  #00ff00, 1840px 547px  #00ff00, 950px 695px  #00ff00, 459px 1150px  #00ff00,
    1124px 1502px  #00ff00, 481px 940px  #00ff00, 680px 839px  #00ff00, 797px 1169px  #00ff00,
    1977px 1491px  #00ff00, 734px 1724px  #00ff00, 210px 298px  #00ff00, 816px 628px  #00ff00,
    686px 770px  #00ff00, 1721px 267px  #00ff00, 1663px 511px  #00ff00, 1481px 1141px  #00ff00,
    582px 248px  #00ff00, 1308px 953px  #00ff00, 628px 657px  #00ff00, 897px 1535px  #00ff00,
    270px 931px  #00ff00, 791px 467px  #00ff00, 1336px 1732px  #00ff00, 1013px 1653px  #00ff00,
    1911px 956px  #00ff00, 587px 816px  #00ff00, 83px 456px  #00ff00, 930px 1478px  #00ff00,
    1587px 1694px  #00ff00, 614px 1200px  #00ff00, 302px 1782px  #00ff00, 1711px 1432px  #00ff00,
    443px 904px  #00ff00, 1666px 714px  #00ff00, 1588px 1167px  #00ff00, 273px 1075px  #00ff00,
    1679px 461px  #00ff00, 721px 664px  #00ff00, 1202px 10px  #00ff00, 166px 1126px  #00ff00,
    331px 1628px  #00ff00, 430px 1565px  #00ff00, 1585px 509px  #00ff00, 640px 38px  #00ff00,
    822px 837px  #00ff00, 1760px 1664px  #00ff00, 1122px 1458px  #00ff00, 398px 131px  #00ff00,
    689px 285px  #00ff00, 460px 652px  #00ff00, 1627px 365px  #00ff00, 348px 1648px  #00ff00,
    819px 1946px  #00ff00, 981px 1917px  #00ff00, 323px 76px  #00ff00, 979px 684px  #00ff00,
    887px 536px  #00ff00, 1348px 1596px  #00ff00, 1055px 666px  #00ff00, 1402px 1797px  #00ff00,
    1300px 1055px  #00ff00, 937px 238px  #00ff00, 1474px 1815px  #00ff00, 1144px 1710px  #00ff00,
    1629px 1087px  #00ff00, 911px 919px  #00ff00, 771px 819px  #00ff00, 403px 720px  #00ff00,
    163px 736px  #00ff00, 1062px 238px  #00ff00, 1774px 818px  #00ff00, 1874px 1178px  #00ff00,
    1177px 699px  #00ff00, 1244px 1244px  #00ff00, 1371px 58px  #00ff00, 564px 1515px  #00ff00,
    1824px 487px  #00ff00, 929px 702px  #00ff00, 394px 1348px  #00ff00, 1161px 641px  #00ff00,
    219px 1841px  #00ff00, 358px 941px  #00ff00, 140px 1759px  #00ff00, 1019px 1345px  #00ff00,
    274px 436px  #00ff00, 1433px 1605px  #00ff00, 1798px 1426px  #00ff00, 294px 1848px  #00ff00,
    1681px 1877px  #00ff00, 1344px 1824px  #00ff00, 1439px 1632px  #00ff00,
    161px 1012px  #00ff00, 1308px 588px  #00ff00, 1789px 582px  #00ff00, 721px 1910px  #00ff00,
    318px 218px  #00ff00, 607px 319px  #00ff00, 495px 535px  #00ff00, 1552px 1575px  #00ff00,
    1562px 67px  #00ff00, 403px 926px  #00ff00, 1096px 1800px  #00ff00, 1814px 1709px  #00ff00,
    1882px 1831px  #00ff00, 533px 46px  #00ff00, 823px 969px  #00ff00, 530px 165px  #00ff00,
    1030px 352px  #00ff00, 1681px 313px  #00ff00, 338px 115px  #00ff00, 1607px 211px  #00ff00,
    1718px 1184px  #00ff00, 1589px 659px  #00ff00, 278px 355px  #00ff00, 464px 1464px  #00ff00,
    1165px 277px  #00ff00, 950px 694px  #00ff00, 1746px 293px  #00ff00, 793px 911px  #00ff00,
    528px 773px  #00ff00, 1883px 1694px  #00ff00, 748px 182px  #00ff00, 1924px 1531px  #00ff00,
    100px 636px  #00ff00, 1473px 1445px  #00ff00, 1264px 1244px  #00ff00, 850px 1377px  #00ff00,
    987px 1976px  #00ff00, 933px 1761px  #00ff00, 922px 1270px  #00ff00, 500px 396px  #00ff00,
    1324px 8px  #00ff00, 1967px 1814px  #00ff00, 1072px 1401px  #00ff00, 961px 37px  #00ff00,
    156px 81px  #00ff00, 1915px 502px  #00ff00, 1076px 1846px  #00ff00, 152px 1669px  #00ff00,
    986px 1529px  #00ff00, 1667px 1137px  #00ff00;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 1448px 320px  #00ff00, 1775px 1663px  #00ff00, 332px 1364px  #00ff00,
    878px 340px  #00ff00, 569px 1832px  #00ff00, 1422px 1684px  #00ff00, 1946px 1907px  #00ff00,
    121px 979px  #00ff00, 1044px 1069px  #00ff00, 463px 381px  #00ff00, 423px 112px  #00ff00,
    523px 1179px  #00ff00, 779px 654px  #00ff00, 1398px 694px  #00ff00, 1085px 1464px  #00ff00,
    1599px 1869px  #00ff00, 801px 1882px  #00ff00, 779px 1231px  #00ff00, 552px 932px  #00ff00,
    1057px 1196px  #00ff00, 282px 1280px  #00ff00, 496px 1986px  #00ff00, 1833px 1120px  #00ff00,
    1802px 1293px  #00ff00, 6px 1696px  #00ff00, 412px 1902px  #00ff00, 605px 438px  #00ff00,
    24px 1212px  #00ff00, 234px 1320px  #00ff00, 544px 344px  #00ff00, 1107px 170px  #00ff00,
    1603px 196px  #00ff00, 905px 648px  #00ff00, 68px 1458px  #00ff00, 649px 1969px  #00ff00,
    744px 675px  #00ff00, 1127px 478px  #00ff00, 714px 1814px  #00ff00, 1486px 526px  #00ff00,
    270px 1636px  #00ff00, 1931px 149px  #00ff00, 1807px 378px  #00ff00, 8px 390px  #00ff00,
    1415px 699px  #00ff00, 1473px 1211px  #00ff00, 1590px 141px  #00ff00, 270px 1705px  #00ff00,
    69px 1423px  #00ff00, 1108px 1053px  #00ff00, 1946px 128px  #00ff00, 371px 371px  #00ff00,
    1490px 220px  #00ff00, 357px 1885px  #00ff00, 363px 363px  #00ff00, 1896px 1256px  #00ff00,
    1979px 1050px  #00ff00, 947px 1342px  #00ff00, 1754px 242px  #00ff00, 514px 974px  #00ff00,
    65px 1477px  #00ff00, 1840px 547px  #00ff00, 950px 695px  #00ff00, 459px 1150px  #00ff00,
    1124px 1502px  #00ff00, 481px 940px  #00ff00, 680px 839px  #00ff00, 797px 1169px  #00ff00,
    1977px 1491px  #00ff00, 734px 1724px  #00ff00, 210px 298px  #00ff00, 816px 628px  #00ff00,
    686px 770px  #00ff00, 1721px 267px  #00ff00, 1663px 511px  #00ff00, 1481px 1141px  #00ff00,
    582px 248px  #00ff00, 1308px 953px  #00ff00, 628px 657px  #00ff00, 897px 1535px  #00ff00,
    270px 931px  #00ff00, 791px 467px  #00ff00, 1336px 1732px  #00ff00, 1013px 1653px  #00ff00,
    1911px 956px  #00ff00, 587px 816px  #00ff00, 83px 456px  #00ff00, 930px 1478px  #00ff00,
    1587px 1694px  #00ff00, 614px 1200px  #00ff00, 302px 1782px  #00ff00, 1711px 1432px  #00ff00,
    443px 904px  #00ff00, 1666px 714px  #00ff00, 1588px 1167px  #00ff00, 273px 1075px  #00ff00,
    1679px 461px  #00ff00, 721px 664px  #00ff00, 1202px 10px  #00ff00, 166px 1126px  #00ff00,
    331px 1628px  #00ff00, 430px 1565px  #00ff00, 1585px 509px  #00ff00, 640px 38px  #00ff00,
    822px 837px  #00ff00, 1760px 1664px  #00ff00, 1122px 1458px  #00ff00, 398px 131px  #00ff00,
    689px 285px  #00ff00, 460px 652px  #00ff00, 1627px 365px  #00ff00, 348px 1648px  #00ff00,
    819px 1946px  #00ff00, 981px 1917px  #00ff00, 323px 76px  #00ff00, 979px 684px  #00ff00,
    887px 536px  #00ff00, 1348px 1596px  #00ff00, 1055px 666px  #00ff00, 1402px 1797px  #00ff00,
    1300px 1055px  #00ff00, 937px 238px  #00ff00, 1474px 1815px  #00ff00, 1144px 1710px  #00ff00,
    1629px 1087px  #00ff00, 911px 919px  #00ff00, 771px 819px  #00ff00, 403px 720px  #00ff00,
    163px 736px  #00ff00, 1062px 238px  #00ff00, 1774px 818px  #00ff00, 1874px 1178px  #00ff00,
    1177px 699px  #00ff00, 1244px 1244px  #00ff00, 1371px 58px  #00ff00, 564px 1515px  #00ff00,
    1824px 487px  #00ff00, 929px 702px  #00ff00, 394px 1348px  #00ff00, 1161px 641px  #00ff00,
    219px 1841px  #00ff00, 358px 941px  #00ff00, 140px 1759px  #00ff00, 1019px 1345px  #00ff00,
    274px 436px  #00ff00, 1433px 1605px  #00ff00, 1798px 1426px  #00ff00, 294px 1848px  #00ff00,
    1681px 1877px  #00ff00, 1344px 1824px  #00ff00, 1439px 1632px  #00ff00,
    161px 1012px  #00ff00, 1308px 588px  #00ff00, 1789px 582px  #00ff00, 721px 1910px  #00ff00,
    318px 218px  #00ff00, 607px 319px  #00ff00, 495px 535px  #00ff00, 1552px 1575px  #00ff00,
    1562px 67px  #00ff00, 403px 926px  #00ff00, 1096px 1800px  #00ff00, 1814px 1709px  #00ff00,
    1882px 1831px  #00ff00, 533px 46px  #00ff00, 823px 969px  #00ff00, 530px 165px  #00ff00,
    1030px 352px  #00ff00, 1681px 313px  #00ff00, 338px 115px  #00ff00, 1607px 211px  #00ff00,
    1718px 1184px  #00ff00, 1589px 659px  #00ff00, 278px 355px  #00ff00, 464px 1464px  #00ff00,
    1165px 277px  #00ff00, 950px 694px  #00ff00, 1746px 293px  #00ff00, 793px 911px  #00ff00,
    528px 773px  #00ff00, 1883px 1694px  #00ff00, 748px 182px  #00ff00, 1924px 1531px  #00ff00,
    100px 636px  #00ff00, 1473px 1445px  #00ff00, 1264px 1244px  #00ff00, 850px 1377px  #00ff00,
    987px 1976px  #00ff00, 933px 1761px  #00ff00, 922px 1270px  #00ff00, 500px 396px  #00ff00,
    1324px 8px  #00ff00, 1967px 1814px  #00ff00, 1072px 1401px  #00ff00, 961px 37px  #00ff00,
    156px 81px  #00ff00, 1915px 502px  #00ff00, 1076px 1846px  #00ff00, 152px 1669px  #00ff00,
    986px 1529px  #00ff00, 1667px 1137px  #00ff00;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinte;
    border-radius: 50%;
    box-shadow: 387px 1878px  #00ff00, 760px 1564px  #00ff00, 1487px 999px  #00ff00,
    948px 1828px  #00ff00, 1977px 1001px  #00ff00, 1284px 1963px  #00ff00, 656px 284px  #00ff00,
    1268px 1635px  #00ff00, 1820px 598px  #00ff00, 642px 1900px  #00ff00, 296px 57px  #00ff00,
    921px 1620px  #00ff00, 476px 1858px  #00ff00, 658px 613px  #00ff00, 1171px 1363px  #00ff00,
    1419px 283px  #00ff00, 1037px 731px  #00ff00, 503px 663px  #00ff00, 1562px 463px  #00ff00,
    383px 1197px  #00ff00, 1171px 1233px  #00ff00, 876px 1768px  #00ff00, 856px 1615px  #00ff00,
    1375px 1924px  #00ff00, 1725px 918px  #00ff00, 952px 119px  #00ff00, 768px 1212px  #00ff00,
    992px 1462px  #00ff00, 1929px 717px  #00ff00, 1947px 755px  #00ff00, 1818px 1123px  #00ff00,
    1896px 1672px  #00ff00, 460px 198px  #00ff00, 256px 271px  #00ff00, 752px 544px  #00ff00,
    1222px 1859px  #00ff00, 1851px 443px  #00ff00, 313px 1858px  #00ff00, 709px 446px  #00ff00,
    1546px 697px  #00ff00, 674px 1155px  #00ff00, 1112px 130px  #00ff00, 355px 1790px  #00ff00,
    1496px 974px  #00ff00, 1696px 480px  #00ff00, 1316px 1265px  #00ff00, 1645px 1063px  #00ff00,
    1182px 237px  #00ff00, 427px 1582px  #00ff00, 859px 253px  #00ff00, 458px 939px  #00ff00,
    1517px 1644px  #00ff00, 1943px 60px  #00ff00, 212px 1650px  #00ff00, 966px 1786px  #00ff00,
    473px 712px  #00ff00, 130px 76px  #00ff00, 1417px 1186px  #00ff00, 909px 1580px  #00ff00,
    1913px 762px  #00ff00, 204px 1143px  #00ff00, 1998px 1057px  #00ff00, 1468px 1301px  #00ff00,
    144px 1676px  #00ff00, 21px 1601px  #00ff00, 382px 1362px  #00ff00, 912px 753px  #00ff00,
    1488px 1405px  #00ff00, 802px 156px  #00ff00, 174px 550px  #00ff00, 338px 1366px  #00ff00,
    1197px 774px  #00ff00, 602px 486px  #00ff00, 682px 1877px  #00ff00, 348px 1503px  #00ff00,
    407px 1139px  #00ff00, 950px 1400px  #00ff00, 922px 1139px  #00ff00, 1697px 293px  #00ff00,
    1238px 1281px  #00ff00, 1038px 1197px  #00ff00, 376px 1889px  #00ff00,
    1255px 1680px  #00ff00, 1008px 1316px  #00ff00, 1538px 1447px  #00ff00,
    1186px 874px  #00ff00, 1967px 640px  #00ff00, 1341px 19px  #00ff00, 29px 1732px  #00ff00,
    16px 1650px  #00ff00, 1021px 1075px  #00ff00, 723px 424px  #00ff00, 1175px 41px  #00ff00,
    494px 1957px  #00ff00, 1296px 431px  #00ff00, 175px 1507px  #00ff00, 831px 121px  #00ff00,
    498px 1947px  #00ff00, 617px 880px  #00ff00, 240px 403px  #00ff00;
}

#stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 387px 1878px  #00ff00, 760px 1564px  #00ff00, 1487px 999px  #00ff00,
    948px 1828px  #00ff00, 1977px 1001px  #00ff00, 1284px 1963px  #00ff00, 656px 284px  #00ff00,
    1268px 1635px  #00ff00, 1820px 598px  #00ff00, 642px 1900px  #00ff00, 296px 57px  #00ff00,
    921px 1620px  #00ff00, 476px 1858px  #00ff00, 658px 613px  #00ff00, 1171px 1363px  #00ff00,
    1419px 283px  #00ff00, 1037px 731px  #00ff00, 503px 663px  #00ff00, 1562px 463px  #00ff00,
    383px 1197px  #00ff00, 1171px 1233px  #00ff00, 876px 1768px  #00ff00, 856px 1615px  #00ff00,
    1375px 1924px  #00ff00, 1725px 918px  #00ff00, 952px 119px  #00ff00, 768px 1212px  #00ff00,
    992px 1462px  #00ff00, 1929px 717px  #00ff00, 1947px 755px  #00ff00, 1818px 1123px  #00ff00,
    1896px 1672px  #00ff00, 460px 198px  #00ff00, 256px 271px  #00ff00, 752px 544px  #00ff00,
    1222px 1859px  #00ff00, 1851px 443px  #00ff00, 313px 1858px  #00ff00, 709px 446px  #00ff00,
    1546px 697px  #00ff00, 674px 1155px  #00ff00, 1112px 130px  #00ff00, 355px 1790px  #00ff00,
    1496px 974px  #00ff00, 1696px 480px  #00ff00, 1316px 1265px  #00ff00, 1645px 1063px  #00ff00,
    1182px 237px  #00ff00, 427px 1582px  #00ff00, 859px 253px  #00ff00, 458px 939px  #00ff00,
    1517px 1644px  #00ff00, 1943px 60px  #00ff00, 212px 1650px  #00ff00, 966px 1786px  #00ff00,
    473px 712px  #00ff00, 130px 76px  #00ff00, 1417px 1186px  #00ff00, 909px 1580px  #00ff00,
    1913px 762px  #00ff00, 204px 1143px  #00ff00, 1998px 1057px  #00ff00, 1468px 1301px  #00ff00,
    144px 1676px  #00ff00, 21px 1601px  #00ff00, 382px 1362px  #00ff00, 912px 753px  #00ff00,
    1488px 1405px  #00ff00, 802px 156px  #00ff00, 174px 550px  #00ff00, 338px 1366px  #00ff00,
    1197px 774px  #00ff00, 602px 486px  #00ff00, 682px 1877px  #00ff00, 348px 1503px  #00ff00,
    407px 1139px  #00ff00, 950px 1400px  #00ff00, 922px 1139px  #00ff00, 1697px 293px  #00ff00,
    1238px 1281px  #00ff00, 1038px 1197px  #00ff00, 376px 1889px  #00ff00,
    1255px 1680px  #00ff00, 1008px 1316px  #00ff00, 1538px 1447px  #00ff00,
    1186px 874px  #00ff00, 1967px 640px  #00ff00, 1341px 19px  #00ff00, 29px 1732px  #00ff00,
    16px 1650px  #00ff00, 1021px 1075px  #00ff00, 723px 424px  #00ff00, 1175px 41px  #00ff00,
    494px 1957px  #00ff00, 1296px 431px  #00ff00, 175px 1507px  #00ff00, 831px 121px  #00ff00,
    498px 1947px  #00ff00, 617px 880px  #00ff00, 240px 403px  #00ff00;
}


@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
.shadow{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.95); 
}

