

@media (max-width: 500px){
    .intro{
        flex-direction: column-reverse;
    }
    .ok{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro h1{
        font-size: 30px;
    }
}